.container-fluid{
    background: url(../../../../../assets/img/background-list-form.jpg);
    background-size: cover;
    min-height: 100vh;
    padding: 0px;
}

.list{
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}

.card{
    min-height: 380px;
    height: 380px;
}

.img{
    height: 40%;
    //src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
}