.container-fluid{
    background: url(../../../../../assets/img/background-list-form.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.card{
    min-height: 80vh;
}

.titre{
    min-height: 23%;
}