<div class="container-fluid full">
  <div class="row d-flex justify-content-center   align-items-center">
    <div class="text-center mt-5 mb-5">
        <span class="text-uppercase fst-italic text-wrap fs-4 own-title">
            Gestion des utilisateurs
        </span>
    </div>
</div>
  <mat-tab-group  color="accent" backgroundColor="primary">

 <mat-tab  label="All"> 
  <table class="table bg-white col s12 m8 offset-m2">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Societe</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let utilisateur of utilisateurList" (click)="goToUtilisateur(utilisateur)"   >
        <td>{{utilisateur.nom}}</td>
        <td>{{utilisateur.prenom}}</td>
        <th scope="row">{{utilisateur.societe}}</th>
        <td>{{utilisateur.typeUser.nom}}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-info"style="position: absolut; bottom: 25px; right: 25px;"
  routerLink="/utilisateur/ajout" >Ajouter</button>
</mat-tab>


  <mat-tab label="Administrateur"> 
    <table class="table bg-white col s12 m8 offset-m2">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Societe</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let responsable of responsableList" (click)="goToUtilisateur(responsable)"   >
          <td>{{responsable.nom}}</td>
          <td>{{responsable.prenom}}</td>
          <th scope="row">{{responsable.societe    }}</th>
          <td>{{responsable.typeUser.nom}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-info"style="position: absolut; bottom: 25px; right: 25px;"
    routerLink="/utilisateur/ajout" >Ajouter</button>
     </mat-tab>
  <mat-tab label="Apprenants "> 

    <table class="table bg-white col s12 m8 offset-m2">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Societe</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apprenant of apprenantList" (click)="goToApp(apprenant)"   >
          <td>{{apprenant.nom}}</td>
          <td>{{apprenant.prenom}}</td>
          <th scope="row">{{apprenant.societe    }}</th>
          <td>{{apprenant.typeUser.nom}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-info"style="position: absolut; bottom: 25px; right: 25px;"
    routerLink="/utilisateur/ajout" >Ajouter</button>
  </mat-tab>
  <mat-tab label="Formateurs"> 
    <table class="table bg-white col s12 m8 offset-m2">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Societe</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formateur of formateurList" (click)="goToUtilisateur(formateur)"   >
          <td>{{formateur.nom}}</td>
          <td>{{formateur.prenom}}</td>
          <th scope="row">{{formateur.societe    }}</th>
          <td>{{formateur.typeUser.nom}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-info"style="position: absolut; bottom: 25px; right: 25px;"
    routerLink="/utilisateur/ajout" >Ajouter</button>

  
  </mat-tab>

</mat-tab-group>
</div>

