<div class="container-fluid full">
    <div class="row justify-content-md-center">
      <div class="col-md-3 mt-5">
      <div class="alert alert-danger" *ngIf="erreur == 1">
        <strong>login ou mot de passe erronés..</strong>
      </div>
        <form action="">
          <div class="form-group mt-5">
            <label
              class="form-label fst-italic fs-5" 
              for="login"> <b>Login</b></label>
            <input
              id="login"
              type="text"
              name="login"
              class="form-control"
              [(ngModel)]="login"/>
          </div>
          <div class="form-group mt-4">
            <label
              class="form-label fst-italic fs-5" 
              for="password"> <b>Mot de passe</b></label>
            <input
              type="password"
              name="password"
              class="form-control"
              [(ngModel)]="password"/>
          </div>
          <div class="row justify-content-md-center mt-4">
            <button
            type="button"
            (click)="seConnecter()"
            class="btn btn-primary fst-italic col-lg-4">
            connexion
            </button>
            <button
            type="button"
            class="btn btn-secondary fst-italic col-lg-4 ms-3">
            créer un compte
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
