.container-fluid{
    background: url(../../../../../assets/img/home-banner.jpg);
    background-size: cover;
    min-height: 100vh;
    padding: 0px;
}

.list{
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}
.nb{
    width: 10%;
    text-align: center;
}